/* Resetting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
}
:root{
  --text: #fdf7ec
}
h1,h2,h3,h4,h5,h6,p{
  color: var(--text);
}
/* Setting the background */
html{
  height: 100%;
  /* background: linear-gradient(315deg, #00d2ff 0%, #3a47d5 100%); */
  /* background: linear-gradient(315deg, rgb(22, 7, 36) 0%, #00d2ff 100%); */
  /* background: #00d2ff; */
  background: #FF2C55;
  background: linear-gradient(315deg, #00d2ff 0%, #80ffdb 100%);
}
/* Styling the navigation bar */

.nav-bar {
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  position: fixed;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: 3px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(315deg, #00d0ff5e 0%, #3a47d5 100%); */
}
.boton{
  display: none;
}
/* Giving format to the elements within the Navigation bar */

/* Label */
.title label {
  font-size: 2rem;
  color: var(--text);
}
/* List  */
.menu ul {
  float: right;
  display: flex;
}

/* Links */
.menu ul li a {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 7px 13px;
  margin: 0 8px;
  border-radius: 3px;
  text-transform: uppercase;
  color: rgb(209, 223, 255);
  transition: all 1s;
}
/* Links behavior */
.menu ul li a:hover {
  background: #33c5ff;
}
/* Check Button */
.checkbtn {
  float: right;
  display: none;
  cursor: pointer;
  color: var(--text);
  font-size: 1.8rem;
}
#check {
  display: none;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 805px) {

  .list {
    top: 4rem;
    left: 100%;
    width: 90%;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    transition: all 0.5s;
    flex-direction: column;
    backdrop-filter: blur(2.4px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: linear-gradient(315deg,#00d2ff 0%, #3a47d5 100%);    text-align: center;
    /* justify-content: space-around; */
  }
  .list li{
    margin-top: 2rem;
  }
  .boton{
    display: block;
    margin-top: 4rem;
    background: none;
    padding: 1rem 3rem;
    border: #00d2ff solid;
  }

  #check {
    display: none;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    left: 12%;
  }
}