/* Resetting */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}
:root{
  --text: #ecfcfd;
  --gradient: linear-gradient(135deg, #00d2ff 0%, #80ffdb 100%);
  --rounded: .7rem

}
h1,h2,h3,h4,h5,h6,p{
  color: var(--text);
}
/* Setting the background */
html{
  /* height: 100%; */
  background: #21c0b3;
  /* background: var(--gradient) */
}
/* Styling the navigation bar */

.nav-bar {
  top: 0;
  width: 100%;
  height: 5.5rem;
  display: flex;
  position: fixed;
  font-weight: bold;
  line-height: 5.5rem;
  letter-spacing: 2px;
  align-items: center;
  background: #21c0b3;
  justify-content: space-around;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.boton{
  display: none;
}
/* Giving format to the elements within the Navigation bar */

/* Label */
.title label {
  font-size: 2rem;
  color: var(--text);
}
/* List  */
.menu ul {
  float: right;
  display: flex;
}

/* Links */
.menu ul li a {
  margin: 0 8px;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 7px 13px;
  border-radius: 3px;
  color: var(--text);
  transition: all 1s;
  text-transform: uppercase;
}
/* Links behavior */
.menu ul li a:hover {
  background: #33ffe4;
}
/* Check Button */
.checkbtn {
  float: right;
  display: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--text);
}
#check {
  display: none;
}
.greetingBox{
  width: 75%;
  padding-bottom: 2rem;
  margin: 10rem auto 1rem;
  border-bottom: var(--text) solid 2px;
  position: relative;
}
.hello{
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin-bottom: .1rem;
}
.name{
  font-size: 3rem; 
  letter-spacing: 2px;
  margin-bottom: .1rem;
}
.whatIdo{
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
.paragraph{
  font-size: 1.3rem; 
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.knowMeBtn{
  outline: none; 
  background: none; 
  font-weight: bold;
  color: var(--text); 
  padding: 1rem 1rem; 
  border: 2px solid var(--text); 
  border-radius: var(--rounded);
}
.container-global {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  width: 30%;
  /* float: left; */
  margin: 10px;
  height: auto;
  flex-wrap: wrap;
  color: var(--text);
  position: relative;
  background-color: none;
  border: 2px solid white;
  padding: 40px 15px 10px 10px;
  border-radius: var(--rounded);
}
.title-box {
  top: 0;
  left: 0;
  width: 30%;
  padding: 5px 15px;
  position: absolute;
  text-align: center;
  align-content: center;
}
.html {
  color: var(--text);
  font-weight: bold;
}
.css {
  color: var(--text);
  font-weight: bold;
}
.js {
  color: var(--text);
  font-weight: bold;
}
/* MEDIA QUERIES  */

@media screen and (max-width: 805px) {

  .list {
    left: 100%;
    width: 90%;
    top: 5.5rem;
    height: 100vh;
    display: flex;
    position: fixed;
    text-align: center;
    align-items: center;
    transition: all 0.5s;
    flex-direction: column;
    background: var(--gradient);
    backdrop-filter: blur(2.4px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* justify-content: space-around; */
  }
  .list li{
    margin-top: 1rem;
  }
  .boton{
    display: block;
    margin-top: 2rem;
    background: none;
    color: var(--text);
    padding: 1rem 3rem;
    border: var(--text) solid;
    border-radius: var(--rounded);
  }
  .container-global {
      flex-flow: column;
      align-items: center;
    }
    .col-sm {
      width: 75%;
      margin: 30px auto;
    }
  #check {
    display: none;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    left: 12%;
  }
}