/* Resetting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
  color: white;
}
/* Setting the background */
html{
  /* background: rgb(2,0,36); */
  height: 100%;
  background: linear-gradient( rgba(2,0,10,1) 0%, rgb(2, 0, 50) 35%);
}
/* Styling the navigation bar */

.nav-bar {
  width: 100%;
  height: 4rem;
  letter-spacing: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(2,0,10,1) ;
  line-height: 3rem;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
/* Giving format to the elements within the Navigation bar */

/* Label */
.title label {
  font-size: 1.5rem;
  color: rgb(209, 223, 255);
}
/* List  */
.menu ul {
  float: right;
  display: flex;
}

/* Links */
.menu ul li a {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 7px 13px;
  margin: 0 8px;
  border-radius: 3px;
  text-transform: uppercase;
  color: rgb(209, 223, 255);
  transition: all 1s;
}
/* Links behavior */
.menu ul li a:hover {
  background: #33c5ff;
}
/* Check Button */
.checkbtn {
  float: right;
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
#check {
  display: none;
}

/* STARTING WITH THE FORM CONTAINER  */

.container {
  width: 40rem;
  height: 20rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #33c5ff;
  display: flex;
  flex-direction: column;
  margin: 12rem auto;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(2.4px); */
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2em;
}
.hello {
  font-size: 2em;
}
.iDev {
  font-size: 3em;
  font-weight: bold;
}
.tools {
  font-size: 1em;
}
.emailMe {
  margin-top: 2em;
  padding: 0.5em 2em;
  border-radius: 2em;
  outline: none;
  background: #33c5ff;
}
/* MEDIA QUERIES  */

@media screen and (max-width: 805px) {
  .container{
    width: 80%;
    height: auto;
    padding: 1em;
  }
  .hello {
    font-size: 1em;
  }
  .iDev {
    font-size: 2em;
    font-weight: bold;
  }
  .tools {
    font-size: .8em;
  }
  .emailMe {
    margin-top: 1em;
    padding: 0.5em 2em;
    border-radius: 1em;
    outline: none;
  }
  .list {
    width: 90%;
    height: 100vh;
    background: rgba(2,0,10,1) ;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4rem;
    left: 100%;
    align-items: center;
    transition: all 0.5s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    /* justify-content: space-around; */
  }

  #check {
    display: none;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    left: 12%;
  }
}
