*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: url(Images/fondo.png) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
nav{
  background: rgb(89, 25, 240);
  width: 100%;
  height: 100px;
}
label.title{
  font-size: 35px;
  padding: 0 200px;
  font-weight: bold;
  line-height: 100px;
  color: rgb(209, 223, 255);
}
nav ul{
  float: right;
  padding: 0 50px;
  margin-right: 0px;
}
nav ul li{
  margin: 0 20px;
  line-height: 100px;
  align-items: center;
  display: inline-block;
}
nav ul li a{
  font-size: 20px;
  padding: 7px 13px;
  font-weight: bold;
  border-radius: 3px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgb(209, 223, 255);
}
a.active, a:hover{
  transition: .8s;
  background: rgb(131, 78, 254);
}
.checkbtn{
  float: right;
  display: none;
  color: white;
  cursor: pointer;
  font-size: 30px;
  line-height: 100px;
  margin-right: 40px;
}
#check{
  display: none;
}
@media (min-width:859), ((max-width: 1200px)){
  label.title{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul{
    padding: 0 8px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  label.title{
    padding-left: 100px;
  }
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    top: 100px;
    width: 100%;
    right: -100%;
    height: 100vh;
    text-align: center;
    transition: all .5s;
    background: #5533ff;
  }
  nav ul li{
    margin: 50px 0;
    display: block;
    line-height: 30px;
    padding: 30px 20px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a:active{
    background: none;
    color: #b6a8ff 
  }
  #check:checked ~ ul{
    right: 0;
  }
}