---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ProfileCard from '../components/ProfileCard.astro';
---

<Layout title="Ibrahim Calzadilla | Frontend Developer">
	<main>
		<Navbar/>
			<ProfileCard/>
	</main>
</Layout>

<style>
	main{
		justify-content: center;
		display: flex;
	}
</style>
