
  <nav>
    <!-- <label>Ibrahim Calzadilla</label> -->
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

<style>
  nav{
    max-width: fit-content;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    background: var(--bgc-elements);
    box-shadow: var(--shadow);
    border-radius: var(--border);
    margin: 1rem;
    padding: 0 1rem;
  }
  label{
    text-transform: uppercase;
  }
  ul{
    display: flex;
  }
  li{
    margin-right: 1rem;
  }
</style>